@media screen and (min-width: 650px) {
    .app-bar {
      grid-template-columns: 1fr auto;
      padding: 8px 32px;
    }
   
    .app-bar .app-bar__brand h1 {
      font-size: 1em;
      position:fixed;
    }
   
    .app-bar .app-bar__menu {
      display: none;
    }
   
    .app-bar .app-bar__navigation {
      position: static;
      width: 100%;
    }
   
    .app-bar .app-bar__navigation ul li {
      display: inline-block;
    }
   
    .app-bar .app-bar__navigation ul li a {
      display: inline-block;
      width: 120px;
      text-align: center;
      margin: 0;
    }
   
    .restaurants {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px;
    
    }
   
    .resto .resto__title {
      grid-column-start: 1;
      grid-column-end: 3;
    }
   
    .resto .resto__overview {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    .resto-item{
      margin: 5px 0;
    }
  }

  .favorite{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;

  }
   
  @media screen and (min-width: 800px) {

    .app-bar .app-bar__brand h1 {
      font-size: 1em;
    }


  }
   
  @media screen and (min-width: 850px) {
    .restaurants {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 16px;
    
    }

    .favorite{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 16px;
  
    }
  }
   
  @media screen and (min-width: 1200px) {
    .restaurants {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 16px;
    
    }

    .favorite {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 16px;
    
    }
    

  }
   
  @media screen and (min-width: 1600px) {
    .restos {
        grid-template-columns: repeat(5, 1fr);
    }
  }

